<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.edu.unac.iotunac">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".view.Splashscreenapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.SingInActivity" />
        <activity android:name=".actividades.Podometro" />
        <activity
            android:name=".view.Graficosemanal"
            android:label="Resumen Semanal" />
        <activity android:name=".actividades.Descanso" />
        <activity
            android:name=".view.Graficomensual"
            android:label="Resumen Mensual" />
        <activity
            android:name=".view.Graficodiario"
            android:label="Resumen Diario" />
        <activity
            android:name=".view.Estadodelclima"
            android:label="Estado del Clima" />
        <activity android:name=".view.Tablaprogresopasos" />
        <activity
            android:name=".view.Navigationdrawer"
            android:label="@string/title_activity_navigationdrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.TestActivity"
            android:label="Air Quality"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".task.RegistryTask"
            android:label="Información" />

        <service android:name=".notifications.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.ImcActivity" />
    </application>

</manifest>