<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.unac.iotunac">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.CalcularIMC"
            android:label="@string/app_name" />
        <activity android:name=".auth.SingInActivity"
            android:label="Login">
        </activity>
        <activity
            android:name=".view.Test"
            android:label="Air Quality"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.MainActivity" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.Graficosemanal" />
        <activity android:name=".view.Graficomensual" />
        <activity android:name=".view.Graficodiario" />
        <activity android:name=".view.Calendario" />
        <activity android:name=".view.Estadodelclima" />
        <activity android:name=".view.Splashscreenapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Navigationdrawer"
            android:label="@string/title_activity_navigationdrawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>